from odoo.http import route, Controller

{%- for key, routes in controllers.items() %}
{%- for path, method, route, path_obj, security, request in routes %}
{%- if request %}
from ..api_models.{{request.path[-1].lower()}} import {{request.path[-1]}}
{% endif -%}
{% endfor -%}
{% endfor -%}

{% for key, routes in controllers.items() %}
class {{key.capitalize()}}Controller(Controller):
    """{{tags[key].description}}"""
    {% for route in routes %}
    @route(
        route={{repr(route.path)}},
        methods=[{{repr(route.method.upper())}}],
        csrf={{repr(route.csrf)}},
        type={{repr(route.type)}}
        {% if route.auth -%}
            auth={{repr(route.auth)}},
        {%- endif %}
    )
    def {{route.operationId}}(self{% for param in path_obj.parameters %}, {{param.name}}{% endfor %}):
        {% if request -%}
        req = {{request.path[-1]}}.parse(
            request.jsonrequest
        )
        {% endif -%}

        # Insert code
         
        return resp.to_json()
    {% endfor %}
{% endfor %}
