from odoo.http import request, route, Controller

{% for body in controller.route_bodies -%}
from ..api_models.{{body.name.lower()}} import {{body.name}}
{% endfor %}

class {{controller.name.capitalize()}}Controller(Controller):
    """
    {{controller.description}}
    """
{% for route in controller.routes %}    @route(
        route={{[route.path] | pprint}},
        methods={{[route.method.upper()] | pprint}},
        csrf={{route.csrf | pprint}},
        type={{route.type | pprint}}{% if route.auth %},{% endif %}
        {% if route.auth -%}
            auth={{repr(route.auth)}},
    {% endif -%}
    )
    def {{route._route.operationId}}(self{% for param in route.path_params.keys() %}, {{param}}{% endfor %}):
        """
        {{route.description}}
        """
    {%- if route.request_body %}
        body = {{route.request_body.name}}.parse(request.jsonrequest)
    {% endif %}

    {%- if route.response_body %}
    {%- if route.response_model %}
        ResponseModel = request.env[{{route.response_model | pprint}}]
        obj = ResponseModel.browse([])
    {% else %}
        # Do something with body and obj
    {% endif %}
        resp = {{route.response_body.name}}.from_odoo(obj)
        return resp.to_json()
    {%- else %}
        return {}
    {%- endif %}

{% endfor %}
