from odoo.http import route, Controller

{%- for key, routes in controllers.items() %}
{%- for path, method, route, path_obj, security, request in routes %}
{%- if request %}
from ..api_models.{{request.path[-1].lower()}} import {{request.path[-1]}}
{% endif -%}
{% endfor -%}
{% endfor -%}

{% for key, routes in controllers.items() %}
class {{key.capitalize()}}Controller(Controller):
    """{{tags[key].description}}"""
    {% for path, method, route, path_obj, security, request in routes %}
    @route(
        route={{repr(path)}},
        methods=[{{repr(method.upper())}}],
        csrf=False,
        type={{repr(path_obj.extensions['route-type']) if 'route-type' in path_obj.extensions else repr('plainjson')}}
        {% if len(security) > 0 and 'auth-name' in security[0][1].extensions -%}
            auth={{repr(security[0][1].extensions['auth-name'])}},
        {%- endif %}
    )
    def {{route.operationId}}(self{% for param in path_obj.parameters %}, {{param.name}}{% endfor %}):
        {% if request -%}
        req = {{request.path[-1]}}.parse(
            request.jsonrequest
        )
        {% endif -%}

        # Insert code
         
        return resp.to_json()
    {% endfor %}
{% endfor %}
